body{
    background-color:black;
}

h3 {
    background-color: white;
}

div>div {
    height: auto;
    width: 70px;
    color: white;
    font-size: 50px;
    position: relative;
    text-align: center;
    animation: mymove 5s normal;
}  
@keyframes mymove {
    0%   {top: 0px;}
  
    100% {
        top: 70vh;
}
  }